/* ------------------------------------------------------- RESET ------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var,
b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea
{
    background:transparent;
    border:0;
    font-size :12px;
    font-family: Arial;
    font-weight: normal;
    margin:0;
    outline:0;
    padding:0;
}

ol, ul, li
{
    margin:0;
    padding:0;
    list-style: none;
}

@font-face 
{
    font-family: "din";
    src: url('./fonts/din-regular-webfont.eot');
    src: url("./fonts/din-regular-webfont.eot?#iefix") format("embedded-opentype"), 
         url("./fonts/din-regular-webfont.woff") format("woff"), 
         url("./fonts/din-regular-webfont.ttf") format("truetype"), 
         url("./fonts/din-regular-webfont.svg#tstar-bold-webfont") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face 
{
    font-family: "dinmedium";
    src: url('./fonts/din-medium-webfont.eot');
    src: url("./fonts/din-medium-webfont.eot?#iefix") format("embedded-opentype"), 
         url("./fonts/din-medium-webfont.woff") format("woff"), 
         url("./fonts/din-medium-webfont.ttf") format("truetype"), 
         url("./fonts/din-medium-webfont.svg#tstar-bold-webfont") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face 
{
    font-family: "dinbold";
    src: url('./fonts/din-bold-webfont.eot');
    src: url("./fonts/din-bold-webfont.eot?#iefix") format("embedded-opentype"), 
         url("./fonts/din-bold-webfont.woff") format("woff"), 
         url("./fonts/din-bold-webfont.ttf") format("truetype"), 
         url("./fonts/din-bold-webfont.svg#tstar-bold-webfont") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face 
{
    font-family: 'josefin_sansbold';
    src: url('fonts/josefinsans-bold-webfont.eot');
    src: url('fonts/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-bold-webfont.woff') format('woff'),
         url('fonts/josefinsans-bold-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'josefin_sanssemibold_italic';
    src: url('fonts/josefinsans-semibolditalic-webfont.eot');
    src: url('fonts/josefinsans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-semibolditalic-webfont.woff') format('woff'),
         url('fonts/josefinsans-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-semibolditalic-webfont.svg#josefin_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'josefin_sanssemibold';
    src: url('fonts/josefinsans-semibold-webfont.eot');
    src: url('fonts/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-semibold-webfont.woff') format('woff'),
         url('fonts/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'josefin_sansregular';
    src: url('fonts/josefinsans-regular-webfont.eot');
    src: url('fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'neoneonregular';
    src: url('fonts/neoneon-webfont.eot');
    src: url('fonts/neoneon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/neoneon-webfont.woff') format('woff'),
         url('fonts/neoneon-webfont.ttf') format('truetype'),
         url('fonts/neoneon-webfont.svg#neoneonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------- END RESET ------------------------------------------------------- */
/* ------------------------------------------------------- HTML, BODY ------------------------------------------------------- */

body
{
	background-color : #000000;
}

#background
{
	height: 100%;
	width: 100%;
	min-width  : 1008px;
	min-height : 648px;
	position: fixed;
}

/* ------------------------------------------------------- END HTML, BODY ------------------------------------------------------- */

#video-overlay {
	background-color:#000;
	/*display:none;*/
	height:100%;
	left:-1000px;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
	/*
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 1;*/
}
	#close-video-overlay { background:url("/media/images/home/close-video-overlay.png") no-repeat 0 0; cursor:pointer; height:49px; position:absolute; right:23px; top:59px; width:49px; z-index:100; }
		#close-video-overlay:hover { background-position:-49px 0; }
	#video-element { height:100%; width:100%; }
		#video-element video { left:10%; height:80%; position:absolute; top:10%; width:80%; }
		#video-element .vjs-big-play-button { display:none; }
	#no-flash-support { color:#fff; display:none; font-family:'josefin_sansbold'; font-size:18px; height:90px; left:50%; line-height:30px; margin:-45px auto auto -180px; position:absolute; text-align:center; top:50%; width:360px; }

#play-home-video-button { background:url("/media/images/home/video-button.png") no-repeat; cursor:pointer; height:94px; width:167px; }
#experience-crescent-text { color:#1f8fce; font-family:'josefin_sansbold'; font-size:18px; line-height:25px; margin-left:17px; margin-top:22px; text-transform:uppercase; }

/* ------------------------------------------------------- WRAP ------------------------------------------------------- */

#wrap
{
    position: relative;
    z-index: 5;
}

/* ------------------------------------------------------- END WRAP ------------------------------------------------------- */
/* ------------------------------------------------------- HEADER ------------------------------------------------------- */

#header_container
{
    background-color : #000000;
    padding: 17px 0px 17px 0px;
}

#header
{
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    max-width: 1700px;
    width: 75%;
    position:relative;
}

#header ul
{
    float: left;
    margin-top: 25px;
}

#header ul li.main_link_item
{
	float: left;
    position: relative;

    margin-left: 25px;
	margin-right: 25px;
}

#header .logo
{
    float: left;
    margin-top: 0;
    width: 156px;
    height: 63px;

    margin-left: 25px;
	margin-right: 25px;
}

#header .logo a
{
	display: block;
}

#header ul li a.main_link
{
    color: #1f8fce;
    font-size: 13px;
    font-family: 'josefin_sansbold';
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

#header ul li a.main_link.selected
{
	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
}

#header ul li a.main_link.register_now.selected
{
	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
}

.active_roll_over #header ul li a.main_link:hover
{
	-webkit-animation-name: roll_over_main_link;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.active_roll_over #header ul li a.main_link.register_now:hover
{
	-webkit-animation-name: roll_over_register_now_link;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

@keyframes roll_over_main_link
{
	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
}

@-moz-keyframes roll_over_main_link
{
	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
}

@-webkit-keyframes roll_over_main_link
{
	from
	{
    	text-shadow : 0;
    }
    to
    {
    	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
    }
}

@keyframes roll_over_register_now_link
{
	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
}

@-moz-keyframes roll_over_register_now_link
{
	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
}

@-webkit-keyframes roll_over_register_now_link
{
	from
	{
    	text-shadow : 0;
    }
    to
    {
    	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
    }
}

#header ul li a.register_now
{
    color: #00cc99;
}

#selected_sub_menu_link
{
	color : #1f8fce;
	font-family: 'din';
	font-size: 11px;
	text-transform : uppercase;
	position:absolute;
	top: 53px;
}

#header .sub_menu
{
    display: none;
    position: absolute;
    left: -16px;
    width: 215px;
    padding-top: 20px;
    z-index: 100;
}

#header .sub_menu a.sub_link
{
    background-color: #000000;
    padding: 8px 15px 8px 15px;
    color: #fffdf0;
    font-family: 'din';
    clear: left;
    float: left;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

.active_roll_over #header .sub_menu a.sub_link:hover
{
	-webkit-animation-name: roll_over_sub_link;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

	color : #1f8fce;
}

@keyframes roll_over_sub_link
{
	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
}

@-moz-keyframes roll_over_sub_link
{
	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
}

@-webkit-keyframes roll_over_sub_link
{
	from
	{
    	text-shadow : 0;
    }
    to
    {
    	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
    }
}

/* ------------------------------------------------------- END HEADER ------------------------------------------------------- */
/* ------------------------------------------------------- CONTENT ------------------------------------------------------- */

#content
{
    background-color : #000000;
	padding-bottom : 36px;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
    max-width: 1700px;
    width: 75%;
    position:relative;
}

/* ------------------------------------------------------- END CONTENT ------------------------------------------------------- */
/* ------------------------------------------------------- FOOTER ------------------------------------------------------- */

#footer_container
{
	background-color: #000000;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 6px;
	padding-top: 6px;
    position: fixed;
    z-index : 40;
}

#footer
{
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    max-width: 1700px;
    width: 75%;
}

#left_footer
{
	float: left;
	margin-left : 19px;
}

#left_footer li
{
	float: left;
	line-height: 24px;
	margin-right: 22px;
}

#left_footer li.first
{
	margin-right: 24px;
}

#left_footer li,
#left_footer li a
{
	color: #1f8fce;
	display: block;
	font-family: 'josefin_sansbold';
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}

#right_footer
{
	float: right;
}

#right_footer li
{
	float: left;
	margin-right: 20px;
	line-height: 23px;
}

#right_footer li.logo
{
	margin-top: 2px;
}

#right_footer li.logo.twitter,
#right_footer li.logo.email
{
	margin-top : 3px;
}

#right_footer li a
{
	color: #1f8fce;
	display: block;
	font-family: 'josefin_sansbold';
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}

.active_roll_over #right_footer li a:hover,
#right_footer li a.selected
{
	text-shadow : 0 0 5px #1f8fce, 5px 5px 10px #1f8fce, -5px -5px 10px #1f8fce, -5px 5px 10px #1f8fce, 5px -5px 10px #1f8fce, 10px 0 10px #1f8fce, -10px 0 10px #1f8fce;
}

#right_footer li a#facebook,
#right_footer li a#twitter,
#right_footer li a#email
{
	font-size : 0px;
	text-indent : -9999px;
	background-repeat : none;
	display:block;
	height:15px;
}

#right_footer li a#facebook
{
	height : 18px;
}

.active_roll_over #right_footer li a#facebook:hover,
.active_roll_over #right_footer li a#twitter:hover,
.active_roll_over #right_footer li a#email:hover
{
	background-position : 0 -15px;
}

.active_roll_over #right_footer li a#facebook:hover
{
	background-position : 0 -18px;
}

#right_footer li a#facebook
{
	background-image : url('../media/images/logo/facebook.png');
	width : 9px;
}

#right_footer li a#twitter
{
	background-image : url('../media/images/logo/twitter.png');
	width : 18px;
}

#right_footer li a#email
{
	background-image : url('../media/images/logo/email.png');
	width : 21px;
}

#right_footer li a.language
{
	color: #FFFFFF;
	font-size: 13px;
}

.active_roll_over #right_footer li a.language:hover
{
	color: #1f8fce;
}

/* ------------------------------------------------------- END FOOTER ------------------------------------------------------- */
/* ------------------------------------------------------- GALLERY ------------------------------------------------------- */

#gallery
{
	display : none;
}

/* ------------------------------------------------------- END GALLERY ------------------------------------------------------- */
/* ------------------------------------------------------- CUSTOM CLASSES ------------------------------------------------------- */

.button
{
	position : relative;
}

.button .button_container_open_section_blue,
.button .button_container_open_section_white,
.button .button_container_open_section_green
{
	background-repeat : no-repeat;
	top : 50%;
	position : absolute;
	height : 11px;
	width : 4px;
	z-index : 10;
	margin-top : -5px;
}

.button .button_container_open_section_white
{
	background-image : url('../media/images/layout/button-container-open-section-white.jpg');
	left : -2px;
}

.button .button_container_open_section_green
{
	background-image : url('../media/images/layout/button-container-open-section-green.jpg');
	left : -3px;
}

.button .button_container_open_section_blue
{
	background-image : url('../media/images/layout/button-container-open-section-blue.jpg');
	left : -3px;
}

.button .button_blue,
.button .button_white,
.button .button_green
{
	border-radius: 10px;
    font-family: 'josefin_sanssemibold';
    text-transform: uppercase;
    text-decoration:none;
    float : left;
}

.button .button_blue
{
	border: 1px solid #FFFFFF;
    color : #FFFFFF;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
}

.active_roll_over .button .button_blue:hover,
.button .button_blue.selected
{
	color : #1f8fce;
}

.button .button_white
{
	border: 1px solid #FFFFFF;
    color : #FFFFFF;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
}

.active_roll_over .button .button_white:hover
{
	color : #1f8fce;
}

.button .button_green
{
	border: 1px solid #00cc99;
    color : #00cc99;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
}

.active_roll_over .button .button_green:hover
{
	-webkit-animation-name: roll_over_button_green;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

@keyframes roll_over_button_green
{
	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
}

@-moz-keyframes roll_over_button_green
{
	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
}

@-webkit-keyframes roll_over_button_green
{
	from
	{
    	text-shadow : 0;
    }
    to
    {
    	text-shadow : 0 0 5px #00cc99, 5px 5px 10px #00cc99, -5px -5px 10px #00cc99, -5px 5px 10px #00cc99, 5px -5px 10px #00cc99, 10px 0 10px #00cc99, -10px 0 10px #00cc99;
    }
}

.left { float:left; }
.right { float:right; }

.clearfix:before,
.clearfix:after { content:" "; display:table; }

.clearfix:after { clear:both; }

.clearfix { *zoom:1; }

.clear_both { background:transparent; clear:both; height:0px; width:0px; }

/* ------------------------------------------------------- END CUSTOM CLASSES ------------------------------------------------------- */