@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.2;
	font-family:Verdana,Georgia,"Microsoft YaHei",Simsun;
	color:#666;
	background:#e8e8e8;
	background-size:80% auto;
}

h2 {font-size:24px;}
h3 {font-size:22px;}
h4 {font-size:20px;}
h5 {font-size:18px;}
a, a:visited{
	color:#F90;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color:#D59768;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #647BA7;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #647BA7;
}
.centerDiv{
	display: block;
    text-align: center;
    margin: 0 auto;
	}
.container {min-width:290px; max-width:970px;}
.whiteBG{
	background-color:#ffffff;}
h1, h2 {
letter-spacing:1px;}

header {
	position: relative;
}
.logo{padding:15px 0;
text-align:center;}
.logo imag{
	margin: 0 auto;}
.navbar-toggle {
  float: left;
margin-left: 10px;}
footer{
	position: relative;
	border-radius: 0;
	background-color: #ccc;
	padding:15px 15px;
	width:100%;
}
h2{
	color:#A484A4;
	font-size:28px;}
blockquote{
	color:#D59768;}
cite{font-size:75%;
color:#666;}
ul, ol {
	list-style: none;
}
.article ul {
	list-style: outside;
	padding-left:20px;
}

img {
	border:none;
	margin:0px;
}
a, a:visited {
	outline: 0;
	text-decoration:none;
	cursor:hand;
	
}
a:hover {
	color: #F90;
}

:focus {
	outline: 0;
}
.clearer {
	clear: both;
}

.lang{
	text-align:right;
	padding:15px;
    }

.carousel .item {

  min-width: 100%;
  background-color: #fff;
}
.carousel-inner > .item > img {

  min-width: 100%;
  height: 100%;;
}

ul.list li{
list-style:inside !important; }

footer p, footer a{
    color:#fff !important;
}
.artcle{
margin:0 !important}

#form, #thank, #contact{
	/*background:url(../images/form_bg.png) no-repeat right bottom;*/
	padding:10px 15px;
    margin:0
	}
.navbar-inverse .navbar-toggle {
  background: #000;
}
.navbar-inverse .navbar-brand {
	color: #fff;
  	background:#000000;
}
.navbar-inverse {
   background-color: #fff; 
   border-color: #fff; 
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #c03;
  border-color: #c03 
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border-color: #c03 

}
.navbar {
  margin-bottom: 0;
}


.article{
padding:15px 15px;
line-height: 1.4;}
.article p{
margin-bottom:10px;
text-align:justify;}
.clearfix15{
	height:15px;}

	
.img-left{
	float:left;
	margin:10px 20px 10px 0;}
	
.img-right{
	float:right;
	margin:10px 0 10px 20px;}
.article .item{
	clear:both;
	margin-bottom:15px;}
.item img{
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
	}
.item h3{margin-top:0;}
.author{
	font-size:12px; 
	background-color:#F60; 
	padding:5px 10px; 
	color:#fff;
	}
.imgCircle{
	border:1px solid #ccc;
-webkit-border-radius: 20%;
-moz-border-radius: 20%;
border-radius: 20%;}
.back-to-top {
    color: #FFF !important;
    background-color: #F90;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 0 0 0 0;
}	
	@media (max-width:767px) {
#form, #thank, #contact, .advantages{
	background:rgba(255, 255, 255, 0.2);
	padding:10px 15px;	
	letter-spacing:0;
	}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #c03;
  background-color: rgba(0, 0, 0, 0);
  
}
.item h3{margin-top:15px; font-size:18px;}
}

@media (max-width:468px) {
.img-left, .img-right{
	width: 100% !important;
	clear:both;}
}